modules = ["nodejs-20", "postgresql-16"]
[userenv]

[userenv.shared]
DISCORD_BOT_TOKEN = "MTQ1MDk1OTg0MDA0MTI0MjYzNQ.Gnbjrv.6rWBk-2yKR2Wxc_iTHTFaakyrqcqtZFecyfZsI"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 5000
